<div class="container center-align">
  <div class="card purple lighten-1">
    <div class="card-image">
      <img class = "responsive-image" src="/images/logo1.png">
    </div>
    <span class="white-text">
      <p class="flow-text">No Bullshit, Just Psytrance Events</p>
    </span>
    <div class="card-action">
      <a class = "purple darken-4 btn waves-effect waves-light" href="/events">Go!</a>
    </div>
  </div>
</div>
